# .env.example
# PostgreSQL Database connection credentials
# DO NOT ADD REAL CREDENTIALS TO THIS FILE

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Application config
APP_ENV=
SECRET_KEY=

# Agents config
AGENTS_DIR=./AGENTS
